/* font style */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
}

/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.person-name{
    font-weight: 800;
    font-size: 28px;
    line-height: 33px;
}
.btn-1 {
    text-decoration: none;
    width: 180px;
    height: 23px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    background-color: white;
}

.btn-container {
    width: 228px;
    height: 58px;
    margin: 38px;
    /* right: 166px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 24px 17px 24px;
    border-radius: 8px;
    opacity: 0.8;
    
}

/* banner section style */
.banner-section-box-1 {
    width: 100%;
    height: 652px;
    background-image: url("/assets/Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-section-box-2 {
    width: 998px;
    height: 582px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.banner-image1 {
    width: 240.28px;
    height: 240px;
    margin: 0 auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-section-title{
    width: 998px;
    height: 100px;
    margin: 32px 221px 24px 221px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 28px;

}
.banner-section-description {
    width: 852px;
    height: 52px;
    margin: 0 294px 24px 294px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 16px;
}
.btn-2 {
    width: 228px;
    height: 58px;
    margin: 10px 322px 44px 322px;
    background-color: black;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 24px 17px 24px;
    border-radius: 8px;
}
/* main section style */
.main-section {
    width: 1440px;
    height: 1395px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px 80px 97px;
    margin-top: 74px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.section-title{
    width: 852px;
    height: 39px;
    margin: 24px auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.main-section-description{
    width: 852px;
    height: 39px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
}
.main-section-container-1{
    width: 946px;
    height: 336px;
    margin: 30px auto;
    padding: 48px 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-section-title-2{
    width: 390px;
    height: 72px;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: rgba(13, 19, 33, 0.7);
}
.main-section-description-1{
    opacity: 0.7;
}
.btn-container-3{
    width: 228px;
    height: 58px;
    margin: 34px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 17px 24px 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.8;
}
.btn-3{
    text-decoration: none;
    width: 180px;
    height: 23px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    background-color: white;
}
.main-section-container-2{
    width: 946px;
    height: 336px;
    margin: 30px auto;
    padding: 48px 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inspiration-section{
    width: 1440px;
    height: 777px;
    margin-top: 74px;
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.current-target-section{
    width: 1440px;
    height: 463px;
    margin-top: 74px;
    margin-left: auto;
    margin-right: auto;
}
.target-container{
    width: 1440px;
    height: 300px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.target-container-1{
    width: 470px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    border-radius: 16px;
    background-color: rgba(255, 76, 30, 0.05);
}
.target-container-2{
    width: 470px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    border-radius: 16px;
    background-color: rgba(0, 76, 232, 0.05);
}
.target-container-3{
    width: 470px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    border-radius: 16px;
    background-color: rgba(255, 223, 0, 0.05);
}
.btn-lm-1{
    width: 284px;
    height: 20px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.btn-lm-2{
    width: 284px;
    height: 20px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.btn-lm-3{
    width: 284px;
    height: 20px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.btn-3a{
    margin: 30px 0px;
    text-decoration-line: underline;
    text-align: left;
    font-size: 16px;
    border: none;
}
.btn-3b{
    margin: 30px 0px;
    text-decoration-line: underline;
    text-align: left;
    font-size: 16px;
    border: none;
}
.btn-3c{
    margin: 30px 0px;
    text-decoration-line: underline;
    text-align: left;
    font-size: 16px;
    border: none;
}
.support-container{
    width: 1440px;
    height: 314px;
    background-image: url("/assets/handshake.jpg");
    margin: 30px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.support-section{
    width: 730px;
    height: 104px;
    margin: 24px 0px;
    text-align: center;
    margin: 64px auto 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    opacity: 0.9;
}
.submit-form{
    width: 100%;
    height: 57px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    margin: 64px auto 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 700px;
    height: 200px;
    margin: auto;
}
.footer-section{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(13, 19, 33, 0.03);
}
.contribution-name{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.social-link{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
}